In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [12]:
# Update the path to the correct location of your mail_data.csv file
raw_mail_data = pd.read_csv(r"C:\Users\Admin\Downloads\mail_data (2).csv", encoding='latin-1')

In [13]:
print(raw_mail_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham              Will Ã¼ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [14]:
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)), '')

In [16]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [18]:
mail_data.shape

(5572, 2)

In [22]:
# Convert 'Category' column: spam -> 0, ham -> 1
mail_data.loc[mail_data['Category'] == 'spam', 'Category'] = 0
mail_data.loc[mail_data['Category'] == 'ham', 'Category'] = 1

In [23]:
x = mail_data['Message']
y = mail_data['Category']

In [24]:
print(x)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [26]:
print(y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [27]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=3)

In [29]:
print(x.shape)
print(x_train.shape)
print(x_test.shape)

(5572,)
(4457,)
(1115,)

In [30]:
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)
x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [31]:
print(x_train)

3075                  Don know. I did't msg him recently.
1787    Do you know why god created gap between your f...
1614                         Thnx dude. u guys out 2nite?
4304                                      Yup i'm free...
3266    44 7732584351, Do you want a New Nokia 3510i c...
                              ...
789     5 Free Top Polyphonic Tones call 087018728737,...
968     What do u want when i come back?.a beautiful n...
1667    Guess who spent all last night phasing in and ...
3321    Eh sorry leh... I din c ur msg. Not sad alread...
1688    Free Top ringtone -sub to weekly ringtone-get ...
Name: Message, Length: 4457, dtype: object

In [32]:
print(x_train_features)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 34901 stored elements and shape (4457, 7466)>
  Coords	Values
  (0, 2340)	0.3932368909598892
  (0, 3832)	0.3469375261790478
  (0, 2233)	0.41207700599359454
  (0, 4478)	0.4158300892234397
  (0, 5438)	0.6182855153929646
  (1, 3832)	0.17419952275504033
  (1, 3060)	0.2503712792613518
  (1, 2000)	0.33036995955537024
  (1, 2970)	0.33036995955537024
  (1, 2771)	0.3226407885943799
  (1, 1846)	0.2784903590561455
  (1, 918)	0.22871581159877646
  (1, 2759)	0.3398297002864083
  (1, 2971)	0.3398297002864083
  (1, 3342)	0.31610586766078863
  (1, 3199)	0.29694482957694585
  (1, 4101)	0.18880584110891163
  (2, 6630)	0.6056811524587518
  (2, 2416)	0.45287711070606745
  (2, 3170)	0.4107239318312698
  (2, 407)	0.509272536051008
  (3, 7450)	0.8100020912469564
  (3, 2884)	0.5864269879324768
  (4, 2884)	0.41872147309323743
  (4, 487)	0.2899118421746198
  :	:
  (4454, 2869)	0.47210665083641806
  (4454, 2256)	0.47210665083641806
  (4455, 4478)	0.24920025316220423
  (4455, 3943)	0.31287563163368587
  (4455, 6947)	0.19636985317119715
  (4455, 4737)	0.30714144758811196
  (4455, 3893)	0.3108911491788658
  (4455, 7146)	0.30536590342067704
  (4455, 6117)	0.23103841516927642
  (4455, 6840)	0.29731757715898277
  (4455, 5672)	0.33545678464631296
  (4455, 2481)	0.35441545511837946
  (4455, 2257)	0.37052851863170466
  (4456, 2884)	0.3148020955715926
  (4456, 5804)	0.16220914578860476
  (4456, 334)	0.22170502949818263
  (4456, 6334)	0.2749006665484178
  (4456, 6276)	0.175498671782676
  (4456, 7183)	0.3672539771248604
  (4456, 7187)	0.24050377287891136
  (4456, 6054)	0.2100620370299299
  (4456, 5594)	0.46425424958098205
  (4456, 6338)	0.30092091212950384
  (4456, 647)	0.30092091212950384
  (4456, 141)	0.2925442640410835